<div class="flex">
  <%= form.check_box field_name, class: "shrink-0 mt-0.5 border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", **options %>
  <%= form.label field_name, class: "text-sm text-gray-500 ms-3" %>
</div>