<div class="flex items-center">
  <%= @form.radio_button @field_name, @value, class: radio_button_classes, checked: @checked %>
  <%= @form.label @label_field, @label_text, class: "text-sm text-gray-500 ms-2 dark:text-gray-500" %>
</div>
