<div class="bg-white border border-gray-200 rounded-sm shadow-xl overflow-hidden my-6">
  <div class="px-6 py-4 border-b border-gray-200">
    <h2 class="text-xl font-semibold text-gray-800">
      <%= @title %>
    </h2>
    <% if @sub_title %>
      <p class="text-sm text-gray-600">
        <%= @sub_title %>
      </p>
    <% end %>
  </div>
  <div class="overflow-auto">
    <%= content %>
  </div>
</div>