<% @flash.each do |key, value| %>
  <div class="animate-slide-left fixed top-24 right-0 z-30 translate-x-full" role="alert">
    <div class="animate-slide-out-top py-3 px-5 flex justify-center items-center shadow-lg rounded-sm border <%= message_type_class(key) %>">
      <i class="<%= icon_class(key) %>"></i><p class="ml-2 font-bold"><%= value %></p>
    </div>
  </div>
<% end %>
