<div class="w-full max-w-md mx-auto p-6">
  <div class="mt-7 p-4 bg-white border border-gray-200 rounded-sm shadow-sm sm:p-7">
    <%= tag.h2 @heading, class: "block text-2xl font-bold text-gray-800 text-center mb-4" %>
    <%= content %>
  </div>
</div>