<% unless current_user == nil || current_user == user %>
  <%
    is_following = current_user.following?(user)

    path, method, text = is_following ? [
      user_unfollow_path(user.account_name),
      :delete,
      t("user.unfollow")
    ] : [
      user_follow_path(user.account_name),
      :post,
      t("user.follow")
    ]
  %>
  <div>
    <%= render Shared::ButtonComponent.new(
      style: :outline,
      color: is_following ? :red : :sky,
      path: path,
      method: method,
      remote: true,
      class: "px-4 text-sm"
    ) do %>
      <%= tag.span text %>
    <% end %>
  </div>
<% end %>
