<% unless current_user == user %>
  <%
    is_following = current_user.following?(user)

    path, method, text = is_following ? [
      user_unfollow_path(user.account_name),
      :delete,
      t("user.unfollow")
    ] : [
      user_follow_path(user.account_name),
      :post,
      t("user.follow")
    ]
  %>
  <div>
    <%= link_to path, method: method, remote: true do %>
      <%= tag.span text %>
    <% end %>
  </div>
<% end %>
