<div class="cursor-pointer relative" data-controller="kebab" data-kebab-target="container">
  <button data-action="kebab#toggleMenu">
    <div class="w-6 h-6 text-sm text-gray-8 grid place-items-center rounded-full bg-transparent transition-colors hover:bg-gray-500/10 active:bg-gray-500/20">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  </button>
  <div
    class="right-0 absolute shadow-lg bg-white border-gray-500 z-10 scale-0 transition-transform origin-top-right data-[show=true]:scale-100"
    data-kebab-target="menu"
    data-show="false"
  >
    <menu class="py-1 text-sm">
      <%= content %>
    </menu>
  </div>
</div>
