<div class="mx-2">
  <%= link_to stat_path, class: "block px-1 py-1 rounded-sm no-underline tracking-wider transition-colors duration-50 hover:bg-gray-200 focus:bg-gray-200 focus:outline-0" do %>
    <div class="font-bold text-gray-700 text-xl">
      <span id="<%= count_id %>"><%= @count %></span>
    </div>
    <div class="text-gray-400"><%= stat_label %></div>
  <% end %>
</div>
