<div class="mx-2">
  <%= link_to stat_path do %>
    <div class="font-bold text-gray-700 text-xl">
      <span id="<%= count_id %>"><%= @count %></span>
    </div>
    <div class="text-gray-400"><%= stat_label %></div>
  <% end %>
</div>
