<div class="tag-field flex items-center" id="tag-field-<%= @index %>">
  <div class="grow">
    <%= render Shared::TextFieldComponent.new(
      form: @form,
      field_type: :text_field,
      field_name: "tags[]",
      size: :small,
      name: "artwork[tags][]",
      id: nil,
      value: @value
    ) %>
  </div>
  <%= render Shared::ButtonComponent.new(
    style: :solid,
    color: :red,
    type: "button",
    class: "remove-tag",
    data: {
      index: @index
    }
  ) do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
</div>
