<div>
  <div class="flex justify-between items-center">
    <%= @form.label :tags, @label, class: "block text-sm font-bold mb-2" %>
    <%= render Shared::ButtonComponent.new(
      style: :outline,
      color: :sky,
      type: "button",
      id: "add_tag"
    ) do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
  <div id="tags" class="space-y-4">
    <% @tags.each_with_index do |tag, index| %>
      <%= render Artwork::TagFieldComponent.new(form: @form, tag: tag, index: index) %>
    <% end %>
  </div>
</div>

<script>
  $("#add_tag").on("click", () => {
    const tags = $("#tags");
    const uniqueIndex = Date.now();
    // `uniqueIndex` はJavaScript側のコードのため、コンポーネントに直接 `index` を渡せない。
    // コンポーネントを文字列として `fieldTemplate` に定義し、`replaceAll` でindexを置き換える。
    const fieldTemplate = "<%= j(
      render Artwork::TagFieldComponent.new(form: @form, value: "", index: "%%index%%")
    ) %>";
    const newFieldHtml = fieldTemplate.replaceAll("%%index%%", uniqueIndex).trim();

    tags.append(newFieldHtml);
  });

  $(document).on("click", ".remove-tag", (e) => {
    e.currentTarget.closest(".tag-field").remove();
  });
</script>
