<div class="flex">
  <aside>
    <ul>
      <li>
        <%= link_to "Users", admin_users_path %>
      </li>
      <li>
        <%= link_to "Artworks", admin_artworks_path %>
      </li>
    </ul>
  </aside>
  <section>

  </section>
</div>