<div data-controller="accordion">
  <div class="px-6 py-4 flex justify-between items-center font-bold text-lg bg-gray-200">
    <div class="inline-block">
      <%= component("utils/icon_text", fa_class: "fa-solid fa-magnifying-glass") do %>
        <%= t("artwork.searches.heading") %>
      <% end %>
    </div>
    <button class="w-10 h-10 rounded-sm transition-colors hover:bg-gray-100" data-accordion-target="button" data-action="accordion#toggle">
      <i class="fa-solid fa-chevron-down transition-transform duration-500" data-accordion-target="chevron"></i>
    </button>
  </div>
  <div class="overflow-hidden transition-[height] duration-500" style="height: 0px;" data-accordion-target="content">
    <div class="mx-auto mt-6 mb-2 w-96" data-controller="admin-user-search">
      <%= component "artwork/admin/search/form" %>
    </div>
  </div>
</div>
