<div>
  <div>
    <%= render "public/artworks/search_form", artworks: @artworks %>
  </div>
  <div id="artworks" class="mt-10">
    <%= render "public/artworks/list", artworks: @artworks %>
  </div>
</div>
