<%
  like_count = artwork.likes.size
  is_liked = current_user && artwork.liked_by?(current_user)

  group_class = "group text-inherit duration-100 transition-[color] hover:text-rose-500"

  heart_base_class = "relative inline-grid place-items-center"
  heart_after_class = "after:absolute after:w-8 after:h-8 after:z-[-1] after:rounded-full after:bg-transparent after:duration-200 after:transition-[background-color]"
  heart_action_class = "group-hover:after:bg-rose-500/10 group-active:after:bg-rose-500/20"

  heart_class = [
    is_liked ? "fa-solid fa-heart" : "fa-regular fa-heart",
    heart_base_class,
    heart_after_class,
    heart_action_class
  ].join(" ")
%>

<div class="whitespace-nowrap <%= is_liked ? "text-rose-500" : "text-black" %>">
  <%= link_to artwork_likes_path(artwork), method: is_liked ? :delete : :post, remote: true, class: group_class do %>
    <%= tag.i class: heart_class, aria: { hidden: true } %>
    <%= tag.span like_count %>
  <% end %>
</div>
