<div class="flex justify-center items-center">
  <%= render Shared::ButtonComponent.new(
    style: :solid,
    color: :slate,
    path: @path,
    method: :post,
    class: "w-36 h-10"
  ) do %>
    <%= t("devise.shared.guest_sign_in") %>
  <% end %>
</div>
