<header class="w-full h-20 px-6 bg-sky-300 flex justify-between items-center">
  <div class="">
    <%= link_to root_path, class: "text-xl", aria: { label: "Pixeleria" } do %>
      Pixeleria
    <% end %>
  </div>
  <nav class="w-64">
    <ul class="flex justify-evenly items-center">
      <li>
        <%= link_to t("devise.shared.sign_in"), new_user_session_path %>
      </li>
      <li>
        <%= link_to t("devise.shared.sign_up"), new_user_registration_path %>
      </li>
    </ul>
  </nav>
</header>