<header class="w-full h-20 px-6 bg-sky-300 flex justify-between items-center fixed top-0 z-50">
  <div class="">
    <%= link_to root_path, class: "text-xl", aria: { label: "Pixeleria" } do %>
      Pixeleria
    <% end %>
  </div>
  <nav class="w-64">
    <ul class="flex justify-evenly items-center">
      <%= render partial: "layouts/nav-item", collection: nav_items, as: :item %>
    </ul>
  </nav>
</header>
